{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "class-methods-use-this": "off"
  }
}
